@model List<AppointmentScheduling.Models.ViewModels.UserWithRolesViewModel>

<h4>Users</h4>

<div class="card card-body">
	<table class="table table-bordered">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        @if (user.Roles.Any())
                        {
                            @string.Join(", ", user.Roles)
                        }
                        else
                        {
                            <span>No Roles</span>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@user.UserId" class="btn btn-primary btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-id="@user.UserId" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
	</table>
</div>